.flight_info_wrapper {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2vh;
    padding: 2vh 2vh 1vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flight_info_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh;
}