.navbar_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgb(19,55,71);
    background: radial-gradient(circle, rgba(19,55,71,1) 25%, rgba(7,19,27,1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav_items_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

a {
    text-decoration: none;
}

li {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.navbar_text {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav_icon {
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
}

.nav_link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_icon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
}

@media screen and (max-width: 768px) {
    .navbar_text {
        display: none;
    }

    .nav_icon {
        display: none;
    }

    .nav_items_wrapper {
        justify-content: space-around;
        padding-left: 0;
    }

    .navbar_icon {
        margin: 0;
    }

    li {
        padding: 0;
    }

    .nav_items_wrapper > li:nth-child(3) {
        display: none;
    }
}